nim

.idea

*.pyc
*.dot
*.class
*.ods

bytes_io/*.bak
bytes_io/some_random_data.hex
complex_numbers/data
complex_numbers/images
complex_numbers/interpolations
complex_numbers/objs
complex_numbers/z_func.txt
complex_numbers/*.o

cpp_programs/**/*.o
c_programs/huge_number_test

labyrinth/images
labyrinth/config.json

math_numbers/objs

picture_diff/images
picture_manipulation/*.png
picture_manipulation/images
picture_manipulation/lambda_functions

puzzle_solver/*.png
puzzle_solver/images/

bytes_io/some_random_data.hex
picture_manipulation/lambdas.txt
test_programs/recursive_imports/num.bin

java/myJar.jar

image_resizing/*.png

random_pictures/images
random_pictures/datas
random_pictures/*.txt
random_pictures/*.html

puzzle_solver/figures/*

probability/*.png
probability/dot_files
probability/genetic_algor_entities_alive.pkl.gz

turing_machine/__pycache__

multi_dimensional_plots/images


sequence_generators/images
sequence_generators/other
sequence_generators/build
sequence_generators/dist
sequence_generators/*.spec
sequence_generators/*.dist

puzzle_solver/figures

.idea

math_numbers/objs

venv

math_games/objects/*
math_games/pictures/*
math_games/output_*.txt

cpp_programs/primes/*.out
cpp_programs/primes/*.o

git_status.txt

git_status.txt

math_games/objects/*
math_games/pictures/*
math_games/output_*.txt

cpp_programs/primes/*.out
cpp_programs/primes/*.o

git_status.txt

venv*/
